/* line 1, ../sass/style.scss */
ul, ol, li {
  list-style: none;
}

/* line 5, ../sass/style.scss */
.has-error {
  border: 1px solid red;
}

/* line 10, ../sass/style.scss */
.definition:before {
  margin-right: 10px;
}

/* line 15, ../sass/style.scss */
.def-index {
  float: left;
}

/* line 19, ../sass/style.scss */
.def-content {
  padding-left: 35px;
}
